<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nova.paas.auth.mapper.FieldAccessMapper">
    <resultMap id="fieldAccess" type="com.nova.paas.auth.entity.FieldAccess">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="roleId" column="role_id"/>
        <result property="entityId" column="entity_id"/>
        <result property="fieldId" column="field_id"/>
        <result property="permission" column="permission"/>
        <result property="modifiedBy" column="modified_by"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into au_field_access
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            <if test="list[0].id!=null">
                id,
            </if>
            <if test="list[0].tenantId!=null">
                tenant_id,
            </if>
            <if test="list[0].roleId!=null">
                role_id,
            </if>
            <if test="list[0].entityId!=null">
                entity_id,
            </if>
            <if test="list[0].fieldId!=null">
                field_id,
            </if>
            <if test="list[0].permission!=null">
                permission,
            </if>
            <if test="list[0].modifiedBy!=null">
                modified_by,
            </if>
            <if test="list[0].modifiedAt!=null">
                modified_at,
            </if>
        </trim>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                <if test="item.id!=null">
                    #{item.id},
                </if>
                <if test="item.tenantId!=null">
                    #{item.tenantId},
                </if>
                <if test="item.roleId!=null">
                    #{item.roleId},
                </if>
                <if test="item.entityId!=null">
                    #{item.entityId},
                </if>
                <if test="item.fieldId!=null">
                    #{item.fieldId},
                </if>
                <if test="item.permission!=null">
                    #{item.permission},
                </if>
                <if test="item.modifiedBy!=null">
                    #{item.modifiedBy},
                </if>
                <if test="item.modifiedAt!=null">
                    #{item.modifiedAt},
                </if>
            </trim>
        </foreach>
    </insert>

    <update id="batchDelete">
        update au_field_access set del_flag=1,modified_by=#{modifiedBy},modified_at=#{modifiedAt} WHERE tenant_id=#{tenantId}
        <if test="roleId != null and roleId!='' ">
            AND role_id=#{roleId}
        </if>
        <if test="entityId != null and entityId!='' ">
            AND entity_id=#{entityId}
        </if>
        and del_flag=0
    </update>

    <select id="findFieldAccessByRole" resultMap="fieldAccess">
        select * from au_field_access where tenant_id=#{tenantId}
        <if test="roleId != null and roleId!='' ">
            AND role_id=#{roleId}
        </if>
        <if test="entityId != null and entityId!='' ">
            AND entity_id=#{entityId}
        </if>
        and del_flag=0
    </select>

    <select id="findFieldAccessByRoles" resultMap="fieldAccess">
        select * from au_field_access where tenant_id=#{tenantId}
        <if test="roleIds != null and roleIds.size()>0">
            AND role_id IN
            <foreach item="item" collection="roleIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="entityId != null and entityId!='' ">
            AND entity_id=#{entityId}
        </if>
        and del_flag=0
    </select>

</mapper>
