<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nova.paas.auth.mapper.UserRoleMapper">
    <resultMap id="userRole" type="com.nova.paas.auth.entity.UserRole">
        <id property="id" column="id"/>
        <result property="tenantId" column="tenant_id"/>
        <result property="roleId" column="role_id"/>
        <result property="targetId" column="target_id"/>
        <result property="targetType" column="org_type"/>
        <result property="modifiedBy" column="modified_by"/>
        <result property="modifiedAt" column="modified_at"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <insert id="batchInsert" parameterType="java.util.List">
        insert into au_user_role
        <trim prefix=" (" suffix=")" suffixOverrides=",">
            <if test="list[0].id!=null">
                id,
            </if>
            <if test="list[0].tenantId!=null">
                tenant_id,
            </if>
            <if test="list[0].roleId!=null">
                role_id,
            </if>
            <if test="list[0].targetId!=null">
                target_id,
            </if>
            <if test="list[0].targetType!=null">
                target_type,
            </if>
            <if test="list[0].modifiedBy!=null">
                modified_by,
            </if>
            <if test="list[0].modifiedAt!=null">
                modified_at,
            </if>
        </trim>
        values
        <foreach collection="list" index="index" item="item" separator=",">
            <trim prefix=" (" suffix=")" suffixOverrides=",">
                <if test="item.id!=null">
                    #{item.id},
                </if>
                <if test="item.tenantId!=null">
                    #{item.tenantId},
                </if>
                <if test="item.roleId!=null">
                    #{item.roleId},
                </if>
                <if test="item.targetId!=null">
                    #{item.targetId},
                </if>
                <if test="item.targetType!=null">
                    #{item.targetType},
                </if>
                <if test="item.modifiedBy!=null">
                    #{item.modifiedBy},
                </if>
                <if test="item.modifiedAt!=null">
                    #{item.modifiedAt},
                </if>
            </trim>
        </foreach>
    </insert>

    <update id="batchDeleteByUsers">
        update au_user_role set del_flag=1,modified_by=#{modifiedBy},modified_at=#{modifiedAt} WHERE tenant_id=#{tenantId}
        <if test="roleId != null and roleId!='' ">
            AND role_id=#{roleId}
        </if>
        <if test="targetIds != null and targetIds.size()>0">
            AND id IN
            <foreach item="item" collection="targetIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        <if test="targetType != null ">
            AND target_type=#{targetType}
        </if>
        and del_flag=0
    </update>

    <update id="batchDeleteByRoles">
        update au_user_role set del_flag=1,modified_by=#{modifiedBy},modified_at=#{modifiedAt} WHERE tenant_id=#{tenantId}
        <if test="targetId != null and targetId!='' ">
            AND target_id=#{targetId}
        </if>
        <if test="targetType != null ">
            AND target_type=#{targetType}
        </if>
        <if test="roleIds != null and roleIds.size()>0">
            AND id IN
            <foreach item="item" collection="roleIds" open="(" separator="," close=")">
                #{item}
            </foreach>
        </if>
        and del_flag=0
    </update>

    <update id="update" parameterType="com.nova.paas.auth.entity.UserRole">
        update au_user_role
        <set>
            <if test="roleId != null">
                role_id = #{roleId},
            </if>
            <if test="targetId != null">
                target_id = #{targetId},
            </if>
            <if test="targetType != null">
                target_type = #{targetType},
            </if>
            <if test="modifiedBy != null">
                modified_by = #{modifiedBy},
            </if>
            <if test="modifiedAt != null">
                modified_at = #{modifiedAt},
            </if>
        </set>
        where id = #{id} and tenant_id=#{tenantId}
    </update>

    <select id="findUserByRole" resultMap="userRole">
        select * from au_user_role where tenant_id=#{tenantId}
        <if test="roleId != null and roleId!=''">
            AND role_id=#{roleId}
        </if>
        <if test="targetType != null and targetType!=''">
            AND target_type=#{targetType}
        </if>
        and del_flag=0
    </select>

    <select id="findRoleByUser" resultMap="userRole">
        select * from au_user_role where tenant_id=#{tenantId}
        <if test="targetId != null and targetId!=''">
            AND target_id=#{targetId}
        </if>
        and target_type=0 and del_flag=0
    </select>

</mapper>
