<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="false" scanPeriod="60 seconds" debug="false">
  <contextName>saas-hr</contextName>

  <appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <!-- 每天产生一个日志文件，最多 30 个，自动回滚 -->
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>${catalina.home}/logs/saas-hr-%d{yyyyMMdd}.log</fileNamePattern>
      <maxHistory>30</maxHistory>
    </rollingPolicy>
    <encoder>
      <!-- 异常栈中去掉包含如下字符的行避免打印很多无用的信息-->
      <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{12} %msg%rEx{full,
        java.lang.Thread,
        javassist,
        sun.reflect,
        org.springframework,
        org.apache,
        org.eclipse.jetty,
        $Proxy,
        java.net,
        java.io,
        javax.servlet,
        org.junit,
        com.mysql,
        com.sun,
        org.mybatis.spring,
        cglib,
        CGLIB,
        java.util.concurrent,
        okhttp,
        org.jboss,
        }%n
      </pattern>
    </encoder>
  </appender>

  <!-- 异步输出 -->
  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>2048</queueSize>
    <appender-ref ref="RollingFile"/>
  </appender>

  <!--新加-->
  <logger name="druid.sql" level="INFO"/>
  <logger name="org.hibernate" level="WARN"/>

  <logger name="org.springframework" level="WARN"/>
  <logger name="org.apache" level="WARN"/>
  <logger name="com.alibaba.dubbo" level="WARN"/>

  <logger name="com.nova.paas" level="INFO">
    <appender-ref ref="ASYNC"/>
  </logger>
  <logger name="com.nova.saas" level="INFO">
    <appender-ref ref="ASYNC"/>
  </logger>

  <root level="WARN">
    <appender-ref ref="ASYNC"/>
  </root>
</configuration>
